[submodule "level1/react-native-concepts/reactnative-concepts-projects-app"]
	path = level1/react-native-concepts/reactnative-concepts-projects-app
	url = https://github.com/rogerio410/reactnative-concepts-projects-app
[submodule "level1/nodejs-concepts/nodejs-concepts-projects-app"]
	path = level1/nodejs-concepts/nodejs-concepts-projects-app
	url = https://github.com/rogerio410/nodejs-concepts-projects-app
[submodule "level1/reactjs-concepts/reactjs-concepts-projects-app"]
	path = level1/reactjs-concepts/reactjs-concepts-projects-app
	url = https://github.com/rogerio410/reactjs-concepts-projects-app
[submodule "level2/nodejs-transations-app"]
	path = level2/nodejs-transations-app
	url = https://github.com/rogerio410/nodejs-transations-app.git
[submodule "level2/nodejs-transations-bd-app"]
	path = level2/nodejs-transations-bd-app
	url = https://github.com/rogerio410/nodejs-transations-bd-app.git
[submodule "level3/gofinance-reactjs-gostack-L3"]
	path = level3/gofinance-reactjs-gostack-L3
	url = https://github.com/rogerio410/gofinance-reactjs-gostack-L3.git
[submodule "level3/gomarketplace-react-native-L3"]
	path = level3/gomarketplace-react-native-L3
	url = https://github.com/rogerio410/gomarketplace-react-native-L3.git