[submodule "level1/conceitos-nodejs/nodejs-concepts-projects-app"]
	path = level1/conceitos-nodejs/nodejs-concepts-projects-app
	url = https://github.com/rogerio410/nodejs-concepts-projects-app
[submodule "level1/conceitos-reactjs/reactjs-concepts-projects-app"]
	path = level1/conceitos-reactjs/reactjs-concepts-projects-app
	url = https://github.com/rogerio410/reactjs-concepts-projects-app
[submodule "level1/conceitos-react-native/reactnative-concepts-projects-app"]
	path = level1/conceitos-react-native/reactnative-concepts-projects-app
	url = https://github.com/rogerio410/reactnative-concepts-projects-app
